.control-label{
	color: blue;
}
.ruska-logo{
	background: url("/images/ruska.png") no-repeat;
	width: 200px;
	border: 0px;
}
body{
	background: url("/images/fondo.jpg") no-repeat center center fixed;
	background-size: cover;
}
h2{
	color: red;
}